{% extends 'base.html' %}
{% load static %}
{% block title %}Home • SneakerHub{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h1>Small creators & big brands.</h1>
        <h1>All in one place.</h1>
        <p>Discover the latest releases and classic trainers from top brands. Free shipping on orders over £75.</p>
        <a href="{% url 'marketplace' %}" class="btn-secondary">Shop now</a>
    </div>
</section>
<section class="signup-cta">
    {% if not user.is_authenticated %}
        <div class="customer-signup">
            <h2>New to SneakerHub?</h2>
            <p>Create an account to browse, buy and sell your old shoes!</p>
            <p>You can also join our platform to setup your own creator space to sell your own designs.</p>
            <a href="{% url 'signup' %}" class="btn-secondary">Create Account</a>
        </div>
    {% else %}
        <div class="creator-signup">
            <h2>Thinking about being a creator?</h2>
            <p>Join SneakerHub today and showcase your unique sneaker designs to a global audience. Sign up now to start selling!</p>
            <a href="{% url 'creatorspace:brand_create' %}" class="btn-secondary">Sign Up</a>
        </div>
    {% endif %}
</section>
<section class="featured-creators">
</section>
{% endblock %}